body {
    background: #5a83b9 url(../images/canvas.gif) repeat-x 0 0 !important;
}

#loading-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: white;
}

#loading {
    position: absolute;
    left: 45%;
    top: 40%;
    padding: 2px;
    z-index: 20001;
    height: auto;
}

#loading a {
    color: #225588;
}

#loading .loading-indicator {
    background: white;
    color: #444;
    font: bold 13px tahoma, arial, helvetica;
    padding: 10px;
    margin: 0;
    height: auto;
}

#loading-msg {
    font: normal 10px arial, tahoma, sans-serif;
}

.whitebox {
    background-image: url('../images/whitebox-icon.png') !important;
}

.scan {
    background-image: url('../images/cog.png') !important;
}

.scan-started {
    background-image: url('../images/cog_go.png') !important;
}

.scan-stopped {
    background-image: url('../images/cog_stopped.png') !important;
}

.scan-finished {
    background-image: url('../images/cog_finished.png') !important;
}

.ready {
    background-image: url('../images/accept.png') !important;
}

.wait {
    background-image: url('../images/wait.gif') !important;
}

.bug {
    background-image: url('../images/bug.png') !important;
}

.scanitem {
    background-image: url('../images/magnifier.png') !important;
}

.script-add {
    background-image: url('../images/script_add.png') !important;
}

.script-edit {
    background-image: url('../images/script_edit.png') !important;
}

.script-delete {
    background-image: url('../images/script_delete.png') !important;
}

.body-notify {
    border-color: #cc3300 !important;
}

.grid-row-insert-below {
    border-bottom: #00ff00 1px dotted !important;
}

.grid-row-insert-above {
    border-top: #00ff00 1px dotted !important;
}

.add {
    background-image: url('../images/add.png') !important;
}

.delete {
    background-image: url('../images/delete.gif') !important;
}

.edit {
    background-image: url('../images/pencil.png') !important;
}

.php-file {
    background-image: url('../images/page_white_php.png') !important;
}

.file {
    background-image: url('../images/page_white.png') !important;
}

.scan-start {
    background-image: url('../images/scan-start.png') !important;
}

.scan-stop {
    background-image: url('../images/scan-stop.png') !important;
}

.settings {
    background-image: url('../images/settings3.png') !important;
}

.about {
    background-image: url('../images/about.png') !important;
}

.project {
	background-image: url('../images/folder.png') !important;
}

.project-new {
    background-image: url('../images/folder_add.png') !important;
}

.project-edit {
    background-image: url('../images/folder_edit.png') !important;
}

.project-delete {
    background-image: url('../images/folder_delete.png') !important;
}

.project-load {
    background-image: url('../images/folder_go.png') !important;
}

.home-icon {
    background-image: url('../images/home-icon.png') !important;
}

.stop {
    background-image: url('../images/stop.png') !important;
}

.vuln:hover {
    background: transparent url('../images/bug_add.png') no-repeat center center !important;
}

.unvuln:hover {
    background: transparent url('../images/bug_delete.png') no-repeat center center !important;
}

.unvuln {
    background: transparent url('../images/bug.png') no-repeat center center;
}

.reviewed {
    background: transparent url('../images/read.png') no-repeat center center !important;
}

.unreviewed {
    background: transparent url('../images/unread.png') no-repeat center center !important;
}

.x-grid3-hd-reviewed {
    background: transparent url('../images/eye.png') no-repeat center center !important;
    height: 15px;
}

.x-grid3-hd-vulnerable {
    background: transparent url('../images/bug-col.png') no-repeat center center !important;
    height: 15px;
}

.mark-vuln {
    background-image: url('../images/bug_add.png') !important;
}

.mark-reviewed {
    background-image: url('../images/book_open.png') !important;
}

.show-code {
    background-image: url('../images/script_code.png') !important;
}

.CodeMirror-line-numbers {
    width: 2.2em !important;
    color: #aaa !important;
    background-color: #eee !important;
    text-align: right !important;
    padding-right: .3em !important;
    font-size: 10pt !important;
    font-family: monospace !important;
    padding-top: .4em !important;
}

.CodeMirror-wrapping {
    height: 100%
}

.editor {
    border: 0px !important;
    border-left: 1px solid #CCCCCC !important;
}

.script-save {
    background-image: url('../images/script_save.png') !important;
}

.jump {
    background-image: url('../images/bug_go.png') !important;
}

.undo {
    background-image: url('../images/arrow_undo.png') !important;
}

.redo {
    background-image: url('../images/arrow_redo.png') !important;
}

.x-table-layout td {
    vertical-align: top;
}

.home-icon-big {
    background-image: url('../images/home.png') !important;
}

.work-dir {
	background-image: url('../images/folder_explore.png') !important;
}

.scannings {
	background-image: url('../images/folder_cog.png') !important;
}

.vulns {
	background-image: url('../images/folder_bug.png') !important;
}

.next {
	background-image: url('../images/resultset_next.png') !important;
}

.status-ok {
	background: transparent url('../images/status_ok.png') no-repeat center center !important;
}

.status-warn {
	background: transparent url('../images/status_warn.png') no-repeat center center !important;
}

.status-fail {
	background: transparent url('../images/status_fail.png') no-repeat center center !important;
}

.token-down {
    background: transparent url('../images/down1.png') no-repeat center center !important;
}

.token-down-after {
    background: transparent url('../images/down2.png') no-repeat center center !important;
}

.tick {
    background: transparent url('../images/tick.png') no-repeat center center !important;
}
